<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login - Restaurant Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <section class="login">
            <div class="login_box">
                <div class="left">
                    <div class="top_link"><a href="/"><img src="https://cdn-icons-png.flaticon.com/512/93/93634.png" alt="">Return home</a></div>
                    <div class="contact">
                        <form action="/login" method="post">
                            <h3>SIGN IN</h3>
                            <input type="text" id="username" name="username" placeholder="USERNAME" required/>
                            <input type="password" id="password" name="password" placeholder="PASSWORD" required/>
                            <label for="remember-me">Remember me?</label>
                            <input type="checkbox" id="remember-me" style="width:40%;" name="remember-me">
                            <button type="submit" class="submit" value="Login">SIGN IN</button>
                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="right-text">
                        <h2>EMPLOYEE LOGIN</h2>
                        <h5>RESTAURANT MANAGEMENT SYSTEM</h5>
                    </div>
<!--                    <div class="right-inductor"><img src="https://images.pexels.com/photos/1383776/pexels-photo-1383776.jpeg?cs=srgb&dl=pexels-huy-phan-1383776.jpg&fm=jpg" alt=""></div>-->
                </div>
            </div>
        </section>
    </body>
</html>