<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Restaurant Management Web App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="/./css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/./css/admin.css">
</head>

<body>
<header>
  <nav>
    <div class="logo">RESTAURANT MANAGEMENT SYSTEM</div>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" id="icon">
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
        </path>
      </svg>
    </label>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/student-accounts">View Student Accounts</a></li>
      <li><a href="/admin-accounts" class="active">View Admin Accounts</a></li>
      <li><a href="/logged-in" class="active">View User Details</a></li>
      <li><a href="#">Hi, Delron</a></li>
    </ul>
  </nav>
</header>
<main>
  <article id="main-article" class="content">
    <h2 style="align-items:center;margin: 6px; margin-top: 30px;">RESTAURANT MANAGEMENT SYSTEM - ADMINS</h2>
    <div class="admins">
      <form action="#" method="get">
        <div class="search">
          <input type="text" class="searchAdmin" placeholder="Search for admin...">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
          <button type="submit" class="btn btnAdd">
            Add
          </button>
        </div>
      </form>
    </div>
    <div class="admin-information-block">
      <div class="list-admins">
        <div class="admin-table">
          <table>
            <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Password</th>
              <th colspan="2">Admin Controls</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td data-column="Meal Name">Fried Chicken</td>
              <td data-column="Meal Quantity">2</td>
              <td data-column="Meal Price">R60</td>
              <td>
                <button class="btn btnEdit">Edit</button>
                <button class="btn btnDelete">Delete</button>
              </td>
            </tr>
            <tr>
              <td data-column="Meal Name">Fried Chicken</td>
              <td data-column="Meal Quantity">2</td>
              <td data-column="Meal Price">R60</td>
              <td>
                <button class="btn btnEdit">Edit</button>
                <button class="btn btnDelete">Delete</button>
              </td>
            </tr>
            <tr>
              <td data-column="Meal Name">Fried Chicken</td>
              <td data-column="Meal Quantity">2</td>
              <td data-column="Meal Price">R60</td>
              <td>
                <button class="btn btnEdit">Edit</button>
                <button class="btn btnDelete">Delete</button>
              </td>
            </tr>
            <tr>
              <td data-column="Meal Name">Fried Chicken</td>
              <td data-column="Meal Quantity">2</td>
              <td data-column="Meal Price">R60</td>
              <td>
                <button class="btn btnEdit">Edit</button>
                <button class="btn btnDelete">Delete</button>
              </td>
            </tr>
            <tr>
              <td data-column="Meal Name">Fried Chicken</td>
              <td data-column="Meal Quantity">2</td>
              <td data-column="Meal Price">R60</td>
              <td>
                <button class="btn btnEdit">Edit</button>
                <button class="btn btnDelete">Delete</button>
              </td>
            </tr>
            <tr>
              <td data-column="Meal Name">Fried Chicken</td>
              <td data-column="Meal Quantity">2</td>
              <td data-column="Meal Price">R60</td>
              <td>
                <button class="btn btnEdit">Edit</button>
                <button class="btn btnDelete">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </form>
    </div>
    </div>
  </article>
</main>
</body>

</html>