<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Restaurant Management Web App</title>
  <link rel="stylesheet" type="text/css" href="/./css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/./css/view-accounts.css">
</head>

<body>
<header>
  <nav>
    <div class="logo">RESTAURANT MANAGEMENT SYSTEM</div>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" id="icon">
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
        </path>
      </svg>
    </label>
    <ul>
      <li><a href="main.html">Home</a></li>
      <li><a href="view-admin-accounts.html" class="active">View Admin Accounts</a></li>
      <li><a href="#">Hi, Delron</a></li>
    </ul>
  </nav>
</header>
<main>
  <article id="main-article" class="content">
    <div class="students">
      <form action="#" method="get">
        <div class="search">
          <input type="text" class="searchStudent" placeholder="Search for admin...">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="list">
          <div class="list-item">

          </div>
          <div class="list-item">

          </div>
          <div class="list-item">

          </div>
          <div class="list-item">

          </div>
          <div class="list-item">

          </div>
        </div>
      </form>
    </div>
    <div class="student-information">
      <div class="student-information-display">

      </div>
    </div>
  </article>
</main>
</body>

</html>